* {
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: "Cozette", monospace;
    font-size: 9pt;
    box-sizing: border-box;
}

a {
    color: inherit;
}

html, body {
    /* overflow-x: hidden; */
    margin: 0;
    background-color: var(--nomad-white);
    max-width: 100vw;
    max-height: 100vh;
}

header {
    box-shadow: 4px 4px 0px var(--nomad-black);

}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    display: none;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.4);
}

#message-box[style*='display: block'] {
    display: flex !important;
}

#message{
    color: var(--nomad-white);
    width: fit-content;
    background-color: var(--nomad-blue);
    box-shadow: 6px 6px 0px var(--nomad-black);
    padding: 20px;
}

.link{
    background-color: var(--nomad-taupe);
    box-shadow: 4px 4px 0px var(--nomad-black);
    padding: 10px;
    transition: 0.2s ease-out;
}

.link:hover{
    background-color: var(--nomad-grey);
}


.inlink{
    -webkit-text-stroke: 1px var(--nomad-red);
    text-decoration: underline;
}

h1 {
    font-family: "Bad Coma", serif;
    font-size: 64pt;
    font-weight: 700;
    color: var(--nomad-beige);
    text-shadow: 0.07em 0.07em 0px var(--nomad-black);
    text-align: center;
    background-color: var(--nomad-taupe);
    box-shadow: 4px 4px 0px var(--nomad-black);
    padding: 20px;
    margin: 20px;
}

h2 {
    font-family: "Roboto Slab", serif;
    font-size: 16pt;
    font-weight: 700;
    color: var(--nomad-white);
    /* text-shadow: 0.07em 0.07em 0px var(--nomad-black); */
    text-align: center;
    background-color: var(--nomad-taupe);
    box-shadow: 4px 4px 0px var(--nomad-black);
    padding: 20px;
    margin: 20px;
}