
table {
    border-collapse: collapse;
    border: 1px solid var(--nomad-black);
    background-color: var(--nomad-grey);
    box-shadow: 4px 4px 0px var(--nomad-black);
}

th {
    border: 1px solid var(--nomad-black);
    height: 40px;
}

th.auteur, th.date,
td.auteur {
    width: 20%;
}

td {
    height: 30px;
    border: 1px solid var(--nomad-black);
    padding: 5px;
}

td a {
    display: block;
    line-height: 30px;
}
