header {
    width: 100%;
    background-color: var(--nomad-beige);
    box-shadow: 4px 4px 0px var(--nomad-black);
}

#nav ul {
    padding: 0;
    display: flex;
    height: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


#nav ul li {
    padding: 10px;
}

#nav ul li a{
    color: var(--nomad-white);
    text-align: center;
    display: block;
    line-height: 20px;
    background-color: var(--nomad-red);
    padding: 5px;
    box-shadow: 2px 2px 0px var(--nomad-black);
    transition: 0.2s ease-out;
}
#nav ul li a:hover{
    background-color: var(--nomad-orange);
}


@media screen and (min-width:800px) {
    #nav ul li {
        min-width: 10%;
    }
}

@media screen and (min-width:1024px) {
    #nav ul li {
        min-width: 15%;
    }
}

