@import url('./fonts.css');
@import url('./colors.css');

@import url('./base.css');

@import url('./form.css');
@import url('./header.css');


h1 {
    font-family: "Bad Coma", serif;
    font-size: 64pt;
    font-weight: 700;
    color: var(--nomad-white);
    text-shadow: 0.07em 0.07em 0px var(--nomad-black);
    text-align: center;
    background-color: var(--nomad-grey);
    padding: 20px;
}

h2 {
    font-family: "Roboto Slab", serif;
    font-size: 16pt;
    font-weight: 700;
    color: var(--nomad-white);
    /* text-shadow: 0.07em 0.07em 0px var(--nomad-black); */
    text-align: center;
    background-color: var(--nomad-grey);
    box-shadow: 4px 4px 0px var(--nomad-black);
    padding: 20px;
    margin: 20px;
}

.link {
    color: var(--nomad-white);
}