:root {
	--dark-heavy: #17171a;
	--dark-shade: #2F2F36;
	--dark-accent: #877B73;
	--light-shade: #E8E8DB;
	--light-accent: #85A7BE;
	--main: #AB9781;
	--yellow: #C9B696;
	--green: #7FAFAC;
	--red: #A26D7E;
}

@font-face {
	font-family: 'Pokemon';
	src: url("pokemon.ttf");
}

body {
	color: var(--dark-heavy);
	font-family: 'Pokemon';
	-webkit-font-smoothing: none;
	font-smooth: never;
	text-shadow: 1px 1px var(--dark-accent);
	font-size: 8px;
	text-align: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 10;
	display: flex;
}

.background{
	/* background-color: var(--light-shade); */
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	z-index: -100;
	width: 100vw;
	height: 100vh;
}

.background>img {
	min-width: 100%;
	min-height: 100%;
}


.content{
	background-color: var(--light-shade);
	box-shadow: 5px 5px var(--dark-shade);
	position: relative;
	z-index: 100;
	width: 70%;
	min-width: 350px;
	max-width: 600px;
	max-height: 90%;
	margin: auto;
	padding: 16px;
}

.main{
	width: min-content;
	border: 2px dashed black;
	margin: 16px auto ;
	display: grid;
	grid-template-areas:
	"map actions"
	"items ground";
	grid-template-columns: min-content;
	grid-template-rows: min-content;
	grid-gap: 16px;
	justify-items: left;
}
@media screen and (max-width: 800px) {
	.main {
		grid-template-areas: 
		"map items"
		"map ground"
		"map ."
		"actions actions";
	}
  }
@media screen and (max-width: 550px) {
	.main {
		justify-items: center;
		grid-template-areas: 
		"map"
		"items"
		"ground"
		"actions";
	}
}

.header, .footer{
	height: 40px;
	background-color: var(--dark-accent);
	box-shadow: 5px 5px var(--dark-shade);
}

.map{
	grid-area: map;
	width: 192px;
	height: 192px;
	background-color: var(--green);
	box-shadow: 5px 5px var(--dark-shade);
	
}

.actions{
	grid-area: actions;
	background-color: var(--red);
	box-shadow: 5px 5px var(--dark-shade);
	width: 300px;
	height: 192px;
}

.items{
	display: flex;
	flex-direction: row;
	background-color: var(--main);
	width: 144px;
	height: 24px;
	box-shadow: 5px 5px  var(--dark-shade);
}

button.item{
	background-image: url(../img/item_bg.png);
	background-color: transparent;
	/* box-shadow: 1px 1px var(--dark-shade); */
	width: 20px;
	height: 20px;
	border: none;
	margin: 2px;
	color: var(--dark-shade);
}

.ground{
	grid-area: ground;
	background-color: var(--light-accent);
	height: 24px;
	box-shadow: 5px 5px var(--dark-shade);
}