:root {
	--dark-heavy: #17171a;
	--dark-shade: #2F2F36;
	--dark-accent: #877B73;
	--light-shade: #E8E8DB;
	--light-accent: #85A7BE;
	--main: #AB9781;
	--yellow: #C9B696;
	--green: #7FAFAC;
	--red: #A26D7E;
}

@font-face {
	font-family: 'Pokemon';
	src: url("pokemon.ttf");
}

body {
	color: var(--dark-heavy);
	font-family: 'Pokemon';
	text-shadow: 1px 1px var(--dark-accent);
	font-size: 8px;
	text-align: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 10;
	display: flex;
}

span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.background{
	background-color: var(--light-shade);
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	z-index: -100;
	width: 100vw;
	height: 100vh;
}

.background>img {
	min-width: 100%;
	min-height: 100%;
}


.content{
	background-color: var(--light-shade);
	box-shadow: 4px 4px var(--dark-heavy);
	position: relative;
	z-index: 100;
	width: 70%;
	min-width: 448px;
	max-width: 900px;
	margin: auto;
	padding: 8px;
}

.main{
	width: min-content;
	margin: 16px 0 ;
	width: 100%;
	display: grid;
	grid-template-areas:
	"map lore lore"
	"map structure monsters"
	"map actions actions"
	"items actions actions"
	"ground actions actions";
	grid-gap: 16px;
	grid-template-columns: 0fr 1fr 1fr;
}

@media screen and (max-width: 900px) {
	.main {
	grid-template-areas:
	"lore lore"
	"map structure"
	"map  monsters"
	"map actions"
	"items actions"
	"ground actions";
	grid-template-columns: 0fr 1fr;
	}
}

.header, .footer{
	height: 40px;
	background-color: var(--dark-accent);
	box-shadow: 4px 4px var(--dark-heavy);
}

.map, .lore, .structure, .monsters, .items, .ground, .actions{
	box-shadow: 4px 4px var(--dark-heavy);
	min-height: 20px;
	background-color: var(--main);
	text-align: left;
}

.map{
	grid-area: map;
	background-color: var(--green);
	width: 200px;
	height: 200px;
}

.lore{
	grid-area: lore;
	height: 80px;
	/* width: 300px; */
}


.structure{
	grid-area: structure;
	background-color: var(--light-accent);
	padding: 4px;
}
.monsters{
	grid-area: monsters;
	background-color: var(--red);
	padding: 4px;
}

.actions{
	grid-area: actions;
	background-color: var(--yellow);
}

.items{
	grid-area: items;
	background-color: var(--red);
	width: 192px;
	display: flex;
	padding: 4px;
	text-align: left;
}

.ground{
	grid-area: ground;
	width: 192px;
	display: flex;
	flex-wrap: wrap;
	padding: 4px;
	text-align: left;
}

button.item{
	
	background-image: url(../img/item_bg.png);
	background-color: transparent;
	width: 20px;
	height: 20px;
	border:none;
	margin: 2px ;
	color: var(--dark-shade);
}
