button.item{
	border-image: url("../img/ui/item_bg.png") 3 3 3 3 / 3px 3px stretch;
	background-color: transparent;
	width: 22px;
	height: 22px;
	margin: 1px;
	color: var(--dark);
	padding: 0px;
}

button.item.job{
	border-image: url("../img/ui/job_item_bg.png") 3 3 3 3 / 3px 3px  stretch;
}
button.item img{
	margin:1px;
}

button.monster{
	border-image: url("../img/ui/item_bg.png") 3 3 3 3 / 3px 3px stretch;
	background-color: transparent;
	width: 30px;
	height: 30px;
	margin: 1px;
	color: var(--dark);
	padding: 0px;
}
button.monster img{
	margin:1px;
}

button.structure{
	border-image: url("../img/ui/job_item_bg.png") 3 3 3 3 / 3px 3px stretch;
	background-color: transparent;
	width: 30px;
	height: 30px;
	margin: 1px;
	color: var(--dark);
	padding: 0px;
}
button.structure img{
	margin:1px;
}

button.arrow{
	border:none;
	background-color: transparent;
	width: 32px;
	height: 32px;
	position: absolute;
	filter: drop-shadow(1px 1px 1px #0D0221);
}
button.arrow:hover{ 
	filter: drop-shadow(1px 1px 1px #0D0221) drop-shadow(0px 0px 1px #D4D0B2);
}
button.arrow:focus{ 
	filter: drop-shadow(0px 0px 1px #D4D0B2);
}

#up_arr{
	background-image: url("../img/ui/arr_up.png");
	left: 84px;
	top: 5px;
}

#left_arr{
	background-image: url("../img/ui/arr_left.png");
	left: 5px;
	top: 84px;
}
#right_arr{
	background-image: url("../img/ui/arr_right.png");
	right: 5px;
	top: 84px;
}
#down_arr{
	background-image: url("../img/ui/arr_down.png");
	bottom: 5px;
	left: 84px;
}